// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// https: //stackoverflow.com/questions/56224093/laravel-import-node-module/56224759
// Bootstrap
// import ini diambil dari bootstrap di directori node_modules
// flag tersebut adalah icon untuk akses node_modules , kalau ga salah
@import '~bootstrap/scss/bootstrap';

// ini ga tau apa ga usah di otak atik
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

// Custom
@import "custom";
